<div class="container">
  <form name="user-form" (ngSubmit) = "addUser()" #userForm="ngForm">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputFirstname" class="col-form-label">First Name</label>
        <input required
               type="text"
               minlength="4"
               name="firstName"
               #userfirstName = "ngModel"
               class="form-control"
               [(ngModel)] = "user.firstName"
               id="inputFirstname"
               placeholder="First Name">
        <div *ngIf="userfirstName.errors && (userfirstName.dirty || userfirstName.touched)" class="error">
          <p [hidden] = "!userfirstName.errors.required"> First name is required!</p>
          <p [hidden] = "!userfirstName.errors.minlength">First name must be atleast 4 characters!</p>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="inputLastname" class="col-form-label">Last Name</label>
        <input required
               #userlastName = "ngModel"
               [(ngModel)] = "user.lastName"
               type="text"
               name="lastName"
               class="form-control"
               id="inputLastname"
               placeholder="Last Name">
        <div *ngIf="userlastName.errors && (userlastName.dirty || userlastName.touched)" class="error">
          <p [hidden] = "!userlastName.errors.required"> Last name is required!</p>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress" class="col-form-label">Address</label>
      <input type="text"
             required
             #userAddress = "ngModel"
             [(ngModel)] = "user.address"
             name="address"
             class="form-control"
             id="inputAddress"
             placeholder="1234 Main St">
      <div *ngIf="userAddress.errors && (userAddress.dirty || userAddress.touched)" class="error">
        <p [hidden] = "!userAddress.errors.required"> Address is required!</p>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPhone" class="col-form-label">Phone Number</label>
      <input type="text"
             minlength="10"
             maxlength="10"
             name="phone"
             #userPhone = "ngModel"
             [(ngModel)] = "user.phone"
             class="form-control"
             id="inputPhone"
             placeholder="Phone Number">
      <div *ngIf="userPhone.errors && (userPhone.dirty || userPhone.touched)" class="error">
        <p [hidden] = "!userPhone.errors.minlength"> Phone number invalid!</p>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity" class="col-form-label">City</label>
        <input type="text"
               required
               name="city"
               #userCity = "ngModel"
               [(ngModel)] = "user.city"
               class="form-control"
               id="inputCity">
        <div *ngIf="userCity.errors && (userCity.dirty || userCity.touched)" class="error">
          <p [hidden] = "!userCity.errors.required"> City is required!</p>
        </div>
      </div>
      <div class="form-group col-md-4">
        <label for="inputState" class="col-form-label">State</label>
        <select id="inputState"
                required
                name="state"
                #userState = "ngModel"
                [(ngModel)] = "user.state"
                class="form-control" >
          <option *ngFor="let state of states" [value] = "state">{{state}}</option>
        </select>
        <div *ngIf="userState.errors && (userState.dirty || userState.touched)" class="error">
          <p [hidden] = "!userState.errors.required"> Select a state!</p>
        </div>
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip" class="col-form-label">Zip</label>
        <input type="text"
               required
               name="zip"
               #userZip = "ngModel"
               [(ngModel)] = "user.zip"
               class="form-control"
               id="inputZip">
        <div *ngIf="userZip.errors && (userZip.dirty || userZip.touched)" class="error">
          <p [hidden] = "!userZip.errors.required"> ZipCode is required!</p>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">Submit</button>
  </form>
</div>

